KERNEL_ARCH_CFLAGS=
KERNEL_ARCH_CPPFLAGS=
KERNEL_ARCH_LDFLAGS=
KERNEL_ARCH_LIBS=

KERNEL_ARCH_OBJS=\
$(OBJDIR)/$(ARCHDIR)/boot.o \
$(OBJDIR)/$(ARCHDIR)/tty.o \
$(OBJDIR)/$(ARCHDIR)/ports.o \
$(OBJDIR)/$(ARCHDIR)/idt.o \
$(OBJDIR)/$(ARCHDIR)/isr.o \
$(OBJDIR)/$(ARCHDIR)/interrupt.o \
$(OBJDIR)/$(ARCHDIR)/gdt.o \
